/* components */
@import url("./components/toDo.css");
@import url("./components/quote.css");
@import url("./components/weather.css");

/* screens */
@import url("./screens/home.css");

body {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

